<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    {% include 'assets/head.html' %}
</head>
<body>
<div class="container">
    {% include 'assets/header.html' %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <!-- Title -->
                <h1>{{ article.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">admin</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ article.created_at }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="{{ MEDIA_URL }}{{ article.image }}" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">导语</p>
                <p>{{ article.content }}</p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>评论:</h4>
                    <div role="form">
                        <div class="form-group">
                            <label for="commentTitle">标题</label>
                            <input type="email" class="form-control" id="commentTitle">
                        </div>
                        <div class="form-group">
                            <label for="commentContent">内容</label>
                            <textarea class="form-control" rows="3" id="commentContent"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" id="summit">提交评论</button>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                {% include 'assets/sidebar.html' %}
            </div>
        </div>
        <!-- /.row -->
        <hr>
        {% include 'assets/footer.html' %}

    </div>
    <!-- /.container -->
</div>

</body>
<script type="text/javascript">
    function paramCheck(param) {
        return !(param === "");
    }

    $("#summit").click(
            function () {
                var commentTitle = $("#commentTitle").val();
                var commentContent = $("#commentContent").val();
                console.log(commentTitle);
                console.log(commentContent);
                if (paramCheck(commentTitle) && paramCheck(commentContent)) {
                    $.ajax({
                        type: "POST",
                        url: "/comment/add/",
                        data: {'title': commentTitle, content: commentContent, article: {{article.id}}},
                        success: function (data) {
                            if(data.success){
                                alert("评论成功!")
                            }
                        }
                    })

                }
                else {
                    alert("请先输入评论内容")
                }
            }
    );
</script>
</html>