<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    {% include 'assets/head.html' %}
    <style type="text/css">
        .thumbnail {
            max-width: 220px;
            max-height: 220px;
        }
    </style>
</head>
<body>
<div class="container">
    {% include 'assets/header.html' %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <hr>
                {% for article in articles %}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object thumbnail" src="{{ MEDIA_URL }}{{ article.image }}" alt="">
                        </a>

                        <div class="media-body">
                            <a href="/article/{{ article.id }}"><h4 class="media-heading">{{ article.title }}</h4></a>
                            <small>{{ article.created_at }}</small>
                            {{ article.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                {% include 'assets/sidebar.html' %}
            </div>
        </div>
        <!-- /.row -->
        <hr>
        {% include 'assets/footer.html' %}

    </div>
    <!-- /.container -->
</div>

</body>
</html>